/* Основные стили */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: content-box
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;

  min-width: $breakpoint-mobile;

  font-family: $ff;
  font-size: $fz;
  line-height: $lh;
  color: black;

  background-color: white;

  overflow-x: hidden
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none
}

// Доступно прячем текст
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.top-message {
  position: absolute;
  left: 0;

  width: 100%;

  color: white;
  background-color: red;
}
