/* Центровщик */

/* Статичный */
.container {
  box-sizing: content-box;
  width: $width-mobile;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $breakpoint-tablet) {
    width: $width-tablet;
    padding: 0 64px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: $width-desktop;
    padding: 0 120px;
  }
}

/* Резиновый */
.container-fluid {
  box-sizing: content-box;
  width: auto;
  padding: 0 20px;

  @media (min-width: $breakpoint-tablet) {
    padding: 0 64px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: $width-desktop;
    margin: 0 auto;
    padding: 0 64px;
  }
}
