/* Цвета */
// $color: #fff;

/* Размер шрифта */
$ff: "Open Sans", Arial, sans-serif;
$fz: 16px;
$lh: 1.2;

/* Размер контейнера */
$width-mobile: 270px;
$width-tablet: 688px;
$width-desktop: 1320px;

/* Breakpoint */
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

/* Ретина */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
